@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,300;1,700&display=swap');

:root{

        --darkMain: #2c3e50;
        --darkSub: #34495e;
        --darkText: white;
        --darkAccent: #3498db;
        --lightMain: white;
        --lightSub: gray;
        --lightText: black;
        --lightAccent: #3498db;
    
}

*,
*::before,
*::after{
  box-sizing: inherit;
  margin:0;
  padding:0;
  transition:300ms;
}
html{
  box-sizing:border-box;
}

body{
  font-family:'Lato',sans-serif;
  line-height: 1.5;
  overflow: hidden;
}

a{
  text-decoration: none;
  color:inherit;
}

li{
  list-style: none;
  color:inherit;
}

button,input{
  border: none;
  font-family: inherit;
  font-size: inherit;
  background:none;
  color:inherit;
  outline:none;
}

button{
  cursor: pointer;
}


svg{
  pointer-events: none;
}

button:hover svg{
  fill:var(--darkAccent) !important;
}